<nlog xmlns="http://www.nlog-project.org/schemas/NLog.mono2.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  
    <variable name="Layout" value="${message}" />

    <targets> <!--async="true">--> 
        <target name="file"
                xsi:type="File" 
                fileName="log.log"
                layout="${Layout}">
        </target>
    </targets>

    <rules>
        <logger name="*" minlevel="Debug" writeTo="file" />
    </rules>
</nlog>